{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto</title>
    <link rel="stylesheet" href="{% static 'mi_app/css/styles.css' %}">
</head>
<body>
    <h1>Añadir Producto</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required>
        
        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" required>

        <input type="submit" value="Añadir">
    </form>
</body>
</html>

