{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{% static 'mi_app/css/styles.css' %}">
</head>
<body>
    <h1>Usuarios Registrados</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.usuario }} - <a href="{% url 'eliminar_usuario' usuario.usuario %}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>

