
/* Importes de tipografia */
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* Estilos globales  */
body {
    
    background-color: #daf7a6 ;
    color: #000000;
}

/* Estilos de la barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #7b7979;
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para los encabezados */
h1 {
    color: #0b7f8e;
}

h2 {
    color: #3d21f3;
}

/* Estilo para el formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: yellow;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: black;
}

.Imagen{
    margin-left: 70%;
    border-radius:5px;
    border: px solid #999;
    padding:13px;
    width:220px;
    height:220px;
}

